body {
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.wrapper {
  background: linear-gradient(to top, darkgrey 0%, lightgrey 100%);
  min-height: 100vh;
  margin: 0 auto;
  width: 960px;
  padding: 50px 20px;
  box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.75);
}
 .wrapper h1 {
   text-align: center;
 }

.wrapper nav {
  padding: 30px 300px;
  display: flex;
  justify-content: space-between;
}

.wrapper > nav button {
  width: 150px;
  height: 55px;
  border: none;
  background-color: #4c8ef7;
  font: 20px Helvetica sans-serif;
  color: white;
  box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.75);
}

.wrapper > nav button:active {
  box-shadow: 0 0 2px 0 rgba(0,0,0,0.75);
}

.user__item, .post__item {
  background-color: #fff;
  margin-bottom: 10px;
  border: 1px solid black;
  box-shadow: 0 0 2px 0 rgba(0,0,0,0.75);
}

.user__item h2,
.post__item h2 {
  text-align: center;
}

.user__item figure {
  padding: 0;
  margin-right: 20px;
  width: 200px;
  height: 220px;
}

.user__info__container {
  display: flex;
}

.user__followings {
  display: flex;
  box-sizing: border-box;
  padding: 15px 30px;
  justify-content: flex-start;
}

.user__followings > div {
  width: 50%;
}

.decorator {
  border: 1px solid grey;
  border-radius: 3px;
  width: 50%;
  margin-bottom: 3px;
  box-sizing: border-box;
  padding: 0 15px;
}
 .wrapper button {
   width: 75px;
   height: 30px;
   border: none;
   background-color: #4c8ef7;
   font: 14px Helvetica sans-serif;
   color: white;
   box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.75);
 }

.post__content {
  display: flex;
}

.post__item figure img {
  height: 300px;
  width: 300px;
}

.container form input {
  width: 655px;
  border: 1px solid grey;
}

.container form fieldset {
  border: 1px solid black;
  box-shadow: 0 0 2px 0 rgba(0,0,0,0.75);
  margin-bottom: 2px;
}

.container form {
  background-color: #ddd;
}
