<figure id="vader" class="jump">
  <img
    src="{{src}}"
    alt="An awesome picture"
  >
  <figcaption>
    <span>Прекрасный выбор!</span>
    <span>Вы добавили <span id="itemName">{{name}}</span> в корзину!<span>
  </figcaption>
</figure>
