<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div class="wrapper">
    <h1>Node.JS GUI</h1>
    <nav>
      <a href="api/<%= api %>/users/"><button>USERS</button></a>
      <a href="api/<%= api %>/posts/"><button>POSTS</button></a>
    </nav>
  </div>
</body>

</html>
