<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div class="wrapper">
    <h1>Node.JS GUI</h1>
    <nav>
      <a href="/api/<%= api %>/posts/"><button>BACK</button></a>
      <button form="addPost" type="submit">ADD POST</button>
    </nav>
    <h2>CREATE NEW POST</h2>
    <div class="container">
      <form action="/api/<%= api %>/posts/" method="post" id="addPost">
        <fieldset>
          <p>Image url:</p>
          <input name="imgUrl" placeholder="Please enter url to img" type="text">
          <p>Number of likes:</p>
          <input name="likeCount" placeholder="Your like count" type="number">
          <p>Description:</p>
          <textarea rows="8" cols="80" name="description" placeholder="Please enter the description of your post" type="textarea"></textarea>
        </fieldset>
      </form>
    </div>
  </div>
</body>

</html>
