<table cellspacing="0">
  <tr class="odd">
    <th>Poster</th>
    <th>Title</th>
    <th>Votes</th>
    <th>Release Date</th>
    <th>Overview</th>
  </tr>
  {{#tableHelper}}
    {{data}}
  {{/tableHelper}}
</table>
